<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Event Web App{% endblock %}</title>
</head>
<body>
  <main>
      {% if user.is_authenticated %}
      Hi {{ user.username }}! <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a> | <a href="{% url 'signup' %}">signup</a>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>