{% extends 'base.html' %}

{% block title %}Delete - {{ object.title }}{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object.title }}"?</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}
