{% extends 'base.html' %}

{% block title %}Event - {{ object.title }}{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.description }}</p>
    <p>Owner: {{ object.owner_username }}</p>
    <p>Date: {{ object.date|date }}</p>

    {% if request.user == object.owner %}
        <p><a href="{%  url 'event-update' pk=object.pk %}">Edit</a> | <a href="{% url 'event-delete' pk=object.pk %}">Delete</a></p>
    {%  endif %}

    {% if already_rsvp %}
        <p><a href="{%  url 'rsvp-delete' event_pk=object.pk %}">Delete Rsvp</a></p>
    {%  else  %}
        <p><a href="{%  url 'rsvp-create' event_pk=object.pk %}">Rsvp</a></p>
    {% endif %}
    <a href="{%  url 'event-list' %}">Back to list</a>
{% endblock %}
