{% extends 'base.html' %}

{% block title %}Event List{% endblock %}

{% block content %}
    <h1>Events</h1>
    <h3><a href="{%  url 'event-create' %}">Create Event</a></h3>
    <ul>
        {% for event in object_list %}
            <li>
                <a href="{%  url 'event-detail' pk=event.pk %}">{{ event.date|date }} - {{ event.title }}</a>
                Participiant: {{event.rsvp__count}}
                Owner: {{ event.owner_username }}
            </li>
        {% empty %}
            <li>No events yet.</li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
